<nav>
    <ul class="menu">
        <li ng-class="{active: activetab == '/'}">
            <a routerLink="/home" routerLinkActive="active" class="home"><i class="ico"></i>Painel de Gestão</a>
        </li>
        <li ng-class="{active: activetab == '/conta'}">
            <a routerLink="/conta" routerLinkActive="active" class="conta-digital"><i class="ico"></i>Conta Digital</a>
        </li>
        <li ng-class="{active: activetab == '/recebiveis'}">
            <a routerLink="/recebiveis" routerLinkActive="active" class="a-recebiveis"><i class="ico"></i>Ant. de Recebíveis</a>
        </li>
    </ul>
</nav>